* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: hsl(205, 33%, 90%);
}

#readAll {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
  transition: 0.2s ease-out;
}
.pointer:hover {
  color: hsl(219, 85%, 26%);
}

.seen {
  background-color: white !important;
}

.msg-hover:hover {
  background-color: hsl(211, 68%, 94%) !important;
  cursor: pointer;
}

.active-notif {
  padding: 5px 10px;
  background-color: hsl(219, 85%, 26%);
  color: white;
  font-size: 0.5rem;
}

.username {
  font-weight: 800;
  color: black;
}

.highlight {
  font-weight: 800;
  color: hsl(219, 12%, 42%);
}

.blue {
  color: hsl(219, 85%, 26%);
  font-weight: 800;
}
.gray {
  color: hsl(219, 12%, 42%);
  font-weight: 800;
}

.time {
  color: hsl(219, 14%, 63%);
}

.n1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.n1 .text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 98vh;
}

.container {
  max-width: 700px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.notif-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.notif-head h2 {
  font-size: 1.2rem;
}

.notif-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.notif-head p {
  color: hsl(219, 12%, 42%);
}

.head-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notif-count {
  margin-left: 10px;
  padding: 2px 10px;
  background-color: hsl(219, 85%, 26%);
  color: white;
  /* font-size: 0.8rem; */
  font-weight: 800;
  border-radius: 5px;
}

.notif-body {
  margin-bottom: 10px;
  position: relative;
}

.notification {
  background-color: hsl(211, 68%, 94%);
  padding: 10px 20px;
  display: flex;
  gap: 20px;
  border-radius: 10px;
}

.notification p {
  color: hsl(219, 12%, 42%);
}

.notif-pic img {
  width: 40px;
}

.text {
  display: flex;
  align-items: center;
  width: 100%;
}
.text .red {
  margin-left: 10px;
}

.red {
  min-width: 10px;
  min-height: 10px;
  background-color: hsl(1, 90%, 64%);
  border-radius: 50%;
}

.message {
  border: 1px solid hsl(205, 33%, 90%);
  padding: 10px;
  border-radius: 5px;
}

.n1 .red {
  max-width: 10px;
  max-height: 10px;
  position: absolute;
  right: 10px;
  top: 20px;
}
.n1 .notif-pic {
  position: absolute;
  right: 40px;
  cursor: pointer;
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 540px) {
  .n1 .text {
    max-width: 75%;
  }
}
